* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Raleway";
  font-weight: 700;
}

header {
  position: relative;
  /* height: 100vh; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 20px; */
  /*сделано для кружочков*/
}


.header-top {
  position: sticky;
  /* или fixed, если нужно */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  z-index: 100;
  background-color: rgba(64, 64, 64, 1);
  /* тёмно-серый фон */
}

.menu-toggle {
  /* width: 30px;
            height: 5px; */
  width: 40px;
  height: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 20px;

}

.logo {
  max-width: 213px;
  /* Максимальная ширина */
  height: auto;
  /* Автоматическая высота для сохранения пропорций */
  /* margin-top: 40px;
            margin-right: 30px; */
}


/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -351px;
  width: 351px;
  height: 100vh;
  /* height: 55vh;*/
  background-color: #404040;
  z-index: 1000;
  transition: all 0.3s ease;
  padding: 30px 30px 20px;
  overflow-y: auto;
}

.mobile-menu.active {
  left: 0;
}



.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* отступ от меню */
  width: 100%;
}




.close-btn {
  /* position: absolute; */
  /* top: 20px;
            left: 30px; left: 20px; */
  font-size: 3.5rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.image-menu {
  height: 50px;
  /* или как в макете */
  width: auto;
  display: block;
  transform: rotate(-139.37deg);
  margin-right: -24px;
  margin-top: -10px;

  /* Если нужно ограничить max-width — добавьте */
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  margin-bottom: 20px;
  /*15 px */
}

.mobile-menu a {
  font-family: "Raleway", sans-serif;
  /* font-optical-sizing: auto; */
  font-size: 20px;
  font-weight: 700;
  font-style: normal;


  color: #fff;
  text-decoration: none;


  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
}

.mobile-menu a:hover {
  color: #3498db;
  padding-left: 15px;
}

.mobile-menu a::before {
  content: "►►";
  margin-right: 10px;
  font-size: 20px;
}



main {
  /* = высота .header-top */
  position: relative;
  z-index: 1;
}


.fone {
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  /* узор будет повторяться по всей странице */
  background-size: auto;
  /* не масштабировать, если это бесшовный паттерн */
  background-position: top left;
  background-attachment: fixed;
  /* ← ЭТО КЛЮЧЕВОЕ СВОЙСТВО */
  margin: 0;
  padding: 0;

}


/* Общий стиль для любого раздела */
.news-section {
  position: relative;
  /* min-height: 100vh;  */
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 20px; */
  box-sizing: border-box;
  /* overflow: hidden; */
}



/* Контент-блок — белый/светлый прямоугольник поверх фона */
.content-wrapper {
  /* max-width: 1720px; */
  max-width: 92%;
  width: 100%;
  background-color: rgb(237, 242, 242);
  box-sizing: border-box;
  z-index: 1;
}



/* Стили для заголовка + мегафона */
.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.megaphone-icon {
  max-width: 152px;
  /* Подберите под размер вашего изображения */
  height: auto;
  vertical-align: middle;
  /* Альтернатива, если не работает flex */
}

/* Опционально: при наведении — анимация */


/* .section-title::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 120px;
  transform: rotate(0deg);
  width: 82.5px;
  height: 186px;

  background-image: url('../img/history_lines/attention_blue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
} */

/* News cards */

.news-item {
  display: flex;
  padding: 45px 55px;
  background-color: #669BBD;
  font-family: "Exo 2";
}

.news-item:nth-child(even) {
  background-color: #EDF2F2;
}

.news-item:nth-child(even) a:hover {
  color: #c2121f;
}

.news-img {
  height: 210px;
  width: auto;
  margin-right: 60px;
  padding-left: 45px;
}

.news-card-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.news-link {
  display: block;
  text-decoration: none;
  color: #273687;
}

.news-link:hover {
  color: white;
}

.news-title {
  margin-bottom: 20px;
}

.news-desc {
  font-size: 16px;
  font-weight: 500;
}

/* Pagination */

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.page-btn {
  min-width: 35px;
  height: 44px;
  border: none;
  padding: 0 5px;
  background: transparent;
  color: #C2121F;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.page-btn:hover:not(.active) {
  background-color: rgba(194, 18, 31, 0.1);
}

.page-btn.active {
  background-color: #C2121F;
  color: white;
}

.dots {
  color: #C2121F;
  font-weight: 700;
  font-size: 30px;
  padding: 0 5px;
}

.last-btn {
  width: 53px;
  height: 44px;
  border: none;
  background: transparent;
  color: #C2121F;
  font-size: 28px;
  letter-spacing: -4px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.last-btn:hover {
  background-color: rgba(194, 18, 31, 0.1);
}

/* FOOTER */

.site-footer {
  position: relative;
  background-color: #404040;
  /* тёмно-серый фон */
  padding: 100px 0px;
  text-align: center;
  color: white;
  font-family: Raleway, sans-serif;
  z-index: 40;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  max-width: 213px;
  width: 100%;
  height: auto;
  /* если логотип не белый — можно сделать ярче */
}

.footer-copyright {
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  margin: 0;
}

/* Adaptability */

@media (max-width: 1280px) and (min-width: 1025px) {
  .hero-content {
    width: 100%;
    max-width: none;
    /* сбрасываем возможные ограничения */
    padding: 20px;
    /* если нужно — оставляем отступы */
    box-sizing: border-box;
    /* чтобы padding не увеличивал ширину */
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  .hero-content {
    width: 100%;
    max-width: none;
    /* сбрасываем возможные ограничения */
    padding: 20px;
    /* если нужно — оставляем отступы */
    box-sizing: border-box;
    /* чтобы padding не увеличивал ширину */
  }

  .section-title::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 80px;
    transform: rotate(0deg);
    width: 66px;
    height: 148.8px;
    /* скрываем декорации на мобильных */
  }

}


/* Адаптивность — мобильные устройства */
@media (max-width: 768px) {
  .hero-content {
    width: 100%;
    max-width: none;
    /* сбрасываем возможные ограничения */
    padding: 20px;
    /* если нужно — оставляем отступы */
    box-sizing: border-box;
    /* чтобы padding не увеличивал ширину */
  }




  /* header */
  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 1.8rem;
    line-height: 1.3;
    /* немного увеличьте для читаемости */
  }



  .mobile-menu {
    width: 100%;
    left: -100%;
  }

  /* .header-top {
                padding: 10px 0;
            } */

  /* .logo {
                height: 40px;
            } */

  .section-title {
    font-size: 2rem;
  }

  .menu-toggle {
    margin-left: 30px;
    margin-top: 20px;
  }

  .logo {
    max-width: 170px;
    /* min-width: 140px;
    min-height: 50px; */
    margin-top: 15px;
  }

  .content-wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 0;
    max-width: 100%;
  }

  .section-title {
    padding: 15px 0px;
    /* padding-bottom: 40px; */
    text-align: center;
    /* ← Центрируем ВЕСЬ контент внутри h2 */
    display: block;
    /* ← Отключаем flex */
    line-height: 1.4;

  }

  .megaphone-icon {
    max-width: 120px;
    display: inline-block;
    /* ← Чтобы остался рядом с текстом */
    margin-left: 8px;
    /* небольшой отступ от текста */
    vertical-align: middle;
  }

  .section-title::before {
    display: none;
    /* скрываем декорации на мобильных */
  }

  .fone {
    background-image: none;
    background-color: rgb(237, 242, 242);
  }

  .news-item {
    text-align: center;
    align-items: center;
    gap: 16px;
    padding: 25px 35px;
  }

  .news-img {
    height: 150px;
    width: auto;
    margin-right: 20px;
    padding-left: 0px;
  }

  .news-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .news-title {
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .news-desc {
    font-size: 1rem;
    max-width: 90%;
  }

  /* Пагинация */
  #pagination {
    gap: 6px;
    margin-top: 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }

  .page-btn,
  .last-btn {
    min-width: 32px;
    height: 40px;
    font-size: 24px;
    padding: 0 4px;
  }

  .last-btn {
    width: 48px;
    letter-spacing: -3px;
  }

  .dots {
    font-size: 24px;
    padding: 0 4px;
  }
}

/* маленькие экраны */
@media (max-width: 480px) {
  .hero-content {
    width: 100%;
    max-width: none;
    /* сбрасываем возможные ограничения */
    padding: 10px;
    /* если нужно — оставляем отступы */
    box-sizing: border-box;
    /* чтобы padding не увеличивал ширину */
  }

  .hero-title {
    position: relative;
    font-size: 2.8rem;

  }

  .hero-subtitle {
    font-size: 1.2rem;
    /* ≈ 21px */
    line-height: 1.4;
  }

  .section-title {
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    /* ← Центрируем ВЕСЬ контент внутри h2 */
    display: block;
  }

  .megaphone-icon {
    max-width: 90px;
    margin-left: 6px;
    display: inline-block;
    /* ← Чтобы остался рядом с текстом */
    /* небольшой отступ от текста */
    vertical-align: middle;
  }

  .fone {
    background-image: none;
    background-color: rgb(237, 242, 242);
  }


  .site-footer {
    padding: 50px 0px;
  }

  .footer-logo {
    max-width: 180px;
  }

  .footer-copyright {
    font-size: 16px;
  }

  .news-item {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 12px;
  }

  .news-img {
    height: 150px;
    width: auto;
    margin-right: 0;
    object-fit: cover;
    padding-left: 0px;
  }

  .news-title {
    font-size: 1.25rem;
  }

  .news-desc {
    font-size: 0.95rem;
    max-width: 95%;
  }

  /* Пагинация */
  #pagination {
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .page-btn,
  .last-btn {
    min-width: 28px;
    height: 36px;
    font-size: 20px;
  }

  .last-btn {
    width: 42px;
    letter-spacing: -2.5px;
  }

  .dots {
    font-size: 20px;
  }
}

.section-title {
  padding-left: 0 !important;
  margin-left: 0 !important;
  text-align: left !important;
  justify-content: flex-start !important;
}

.content-wrapper {
  padding-left: 0 !important;
}

.news-section {
  padding-left: 0 !important;
}